{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bonnes Lectures{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>

        {% block content %}
        <h1 class="mb-4">Liste des livres</h1>
        <ul class="List-group">
            {% for book in books %}

            <li class="List-group-item">
                <strong>{{ book.title }}</strong> par {{ book.publisher }}
                <br>
                Année : {{ book.year }}
                <br>
                <a href="{% url 'details' book.id %}">Détails</a>
                <a href="{% url 'delete_book' book.id %}">Supprimer</a>
                <a href="{% url 'edit_book' book.id %}">Modifier</a>
            </li>
            {% endfor %}
        </ul>
        {%endblock %}
    </body>
</html>