<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
    </head>
    <body>
        <h1>Bonnes lectures</h1>
        <p>
            Vous souhaitez des avis sur les dernières nouveautés littéraires ? Vous souhaitez des <br/> recommendations pertinentes pour choisir votre prochain livre ? Vous êtes là où il <br/> faut !
        </p>
        <p>
            Feuilletez les critiques de millions d’ouvrages passés en revue par des lecteurs comme vous
        </p>

        <p>
            Créez votre profil, dites-nous quels sont les derniers titres que vous avez aimés, ou vos genres favoris, et nous vous conseillerons.
        </p>
    </body>
</html>